# ==============================
# Build directories
# ==============================
build/
out/
bin/
lib/
external/grpc-*
external/glfw-*

# ==============================
# Object files / binaries
# ==============================
*.o
*.bin

# ==============================
# IDE / Editor files
# ==============================
.clang-format
.clangd
.cache/

# ==============================
# Proto source files
# ==============================
protos/src

# ==============================
# Imgui config file
# ==============================
imgui.ini